<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
	<title>Test 2 Menu</title>
	<link href="../ssubnav.css" rel="stylesheet" type="text/css" />
	<script src="../jquery.min.js" type="text/javascript">
	</script>
	<script src="../jquery.hoverIntent.js" type="text/javascript">
	</script>
	<script src="../ssubnav.js" type="text/javascript">
	</script>
	<script type="text/javascript">
		$(function(){
			$.slidenav({
				animspeed: 'medium',
				hideonout: 'true'
			});
		});
	</script>
</head>
<body>
<div class="container">
  <h1>Menu hello, {{ ut }}</h1>
	<select class="select">
		{% for owner in owners %}
		<option>{{ owner }}</option>
		{% endfor %}
	</select>
	<button type="button" name="change" id="change" class="change">Change</button>
</div>
<script>
	$(document).ready(function(){
	$(".change").click(function(){
			location.href = '/?userType='+$(".select").val();
		});
	});
</script>
<div id="page">
		<div class="container">
			<div class="slidenav-container">
				<div class="slidenav">
					<ul>
						{% for item in menu %}
						{% if item.parent_id==0 %}
						<li><a href="">{{ item.text }}</a>
							<ul>
								{% for sitem in menu %}
								{% if sitem.parent_id==item.id %}
								<li><a href="">{{ sitem.text }}</a></li>
								{% endif %}
								{% endfor %}
							</ul>
						</li>
						{% endif %}
						{% endfor %}
					</ul>
				</div>
				<div class="slidenav-box">
					<div class="subnav">
					</div>
				</div>
			</div>
		</div>
  <div class="container">
    <br/>
			<div id="changelog">
				<h2>&nbsp;</h2>
	  </div>
  </div>
	</div>
</body>
</html>
